rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{document=**} {
      allow read: if isSignedIn()
			allow write: if isOwner(userId)
    }
    function isOwner(userId) {
				return request.auth.uid + "pointsNumber" == userId
	}	
	match /displayNames/{document=**} {
		allow read: if isSignedIn();
		allow write: if isSignedIn();	
	}
		function isSignedIn(){
		return request.auth != null}
  }
}